.searchbar {
    width: 200px;
    display: flex;
    border-width: 1;
    background-color: #f5fafa;
    padding: 5px;
}

.search-bar {
    width: 90%;
    margin-right: 1%;
    border-width: 0;
    padding-left: 5%;
    background-color: transparent;
    font-size: 16px;
    border: 1px solid #f5fafa;
}

