body{
    background-color: "#00FF00";
    font-family: 'Times New Roman', Times, serif;
}

.signup{
    width: 360px;
    height: 620px;
    margin: auto;
    border-radius: 3px;
}

h1{
    text-align: center;
    padding-top: 15px;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: 10cm;
}


input[type=button] {
    color:#08233e;
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:70%;
    /* ... other rules ... */
    cursor:pointer;
}

.Register{
    margin-top: 10%;
    margin-left: 3%;

}