.Sn-Section {
    width:100%;
    height:500px;
    display: flex;
    justify-content: space-between;
    background-image: url("https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHdvbWVuJTIwc2hvcHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size:cover;
}

.prev-arr,.next-arr {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 30px;
}

.sn-text {
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    position: relative;
    top: 80%;
    background-color: white;
    align-items: center;
    height: fit-content;
    padding: 8px;
    border-radius: 20px;
}

