body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmFzaGlvbiUyMG1vZGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
  
    
    
   
  }
  
  h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 3px 1px 4px rgba(0,0,0,0.6);
  }
  
  p.subtitle{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 1px 4px rgba(0,0,0,0.6);
  }
  
  .contact-container{
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    backdrop-filter: blur(15px); 
    border: 1px solid rgba(255,255,255,.2);
    -webkit-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
      
  }
  
  .contact-info{
    background-color: rgb(139, 80, 194);
    border-radius: 15px;
    flex: 0 1 40%;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  h4{
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
  }
  
  p {
    color: rgba(255,255,255,.7);
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
  
  }
  
  .icon-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  span{
    font-size: 1.3rem;
    font-weight: 300;
  }
  
  .social-media{
    display: flex;
    width: 50%;
    justify-content: space-between;
    
  }
  
  a{
    cursor: pointer;
    margin-top: 100px;
    
  }
  
  .form-2{
    padding: 40px;
    width: 100%;
  }
  
  .form-2 .col{
    display: flex;
    width: 100%;
    flex: 0 0 100%;
    
  }
  
  .form-group{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 1 100%;
    padding-right: 40px;
  }
  
  .form-2 .col .form-group label{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1rem;
  
  }
  
  
  .form-2 input[type="text"], .form-2 input[type="email"], .form-2 input[type="tel"], textarea{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid gray;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    margin-bottom: 2rem;
    
  
  
  
  }
  
   textarea:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(11, 172, 158);
    
  }
  
  .form-2 input[type="text"]:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(11, 172, 158);
    
  
  }
  
  .form-2 input[type="email"]:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(11, 172, 158)  ;
    
  
  }
  
  .form-2 input[type="tel"]:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(11, 172, 158);
    
  
  }
  
  .form-2:nth-child(2){
    padding-right: 0;
  }
  
  button{
    display: flex;
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(139, 80, 194);
    border-radius: 10px;
    cursor: pointer;
    color: antiquewhite;
    
  }
  
  .container-button {
    display: flex;
    justify-content: end;
    padding-right: 40px;
  
  }
  
  
  
  
  