.Fp-Section {
    margin-top: 5%;
}

h1 {
    margin-bottom: 5%;
}

h1 .fp-text:hover {
    color: goldenrod;
}

h1 .fp-text {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    position: relative;
    top: 80%;
    background-color: #181717;
    align-items: center;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
}


.images {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
}

.fpimg1,.fpimg2,.fpimg3 {
    background-color: #e0e0ab;
    height: 500px;
    background-size: cover;
}