
h1 a:hover {
    color: goldenrod;
}


.images {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}

.fpimg1,.fpimg2,.fpimg3 {
    background-color: #e0e0ab;
    height: 500px;
}

.fpimg1:hover,.fpimg2:hover,.fpimg3:hover {
    box-shadow: 0 7px 20px grey;
}