.header{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 5px;
    justify-content: space-between;
    border-bottom: 2px solid #ece7e7;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}