
.navbar {
    padding-right: 10px;
    margin-right: -5%;
}

.nav-list {
    width:30%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-tabs {
    display: inline;
    margin-left:60%;


}

.home,.about,.contact {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.home:hover,.about:hover,.contact:hover {
    color: goldenrod;
}

