
.Sw-Section {
    margin-top: 5%;
}

h1 a:hover {
    color: goldenrod;
}

h1 {
    margin-bottom: 5%;
}


.images {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.swimg1,.swimg2,.swimg3 {
    background-color: #a0dba0;
    height: 500px;
    background-size: contain;
}

.swimg1:hover,.swimg2:hover,.swimg3:hover{
    box-shadow: 0 7px 20px grey;

}