
.Sw-Section {
    margin-top: 5%;
}

h1 .sw-text:hover {
    color: goldenrod;
}

h1 {
    margin-bottom: 5%;
}

h1 .sw-text {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    position: relative;
    top: 80%;
    background-color: #181717;
    align-items: center;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
}


.images {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.swimg1,.swimg2,.swimg3 {
    background-color: #a0dba0;
    height: 500px;
    background-size: cover;
}